@import "node_modules/bootstrap/scss/bootstrap";

// variables for colors
$primary-color: #4B8EDC;
$secondary-color: #8AB4E5;
$bg-color: #BDD0EC;

// background color
body {
  background-color: $bg-color;
}

// textarea
.form-control {
  resize: none;
  border: 6px solid $primary-color;
}
.form-control::placeholder {
  color: gray;
  opacity: 0.7; /* Firefox */
}

// fonts
#logo * {
  font-family: "Berkshire Swash", serif;
  display: inline;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
* {
  font-family: "Murecho", sans-serif;
}

// buttons
.active {
  background-color: $primary-color;
}
// change feature buttons
.btn-outline-secondary {
  border-color: $primary-color;
  color: $primary-color;
}
.btn-outline-secondary:hover:not(.active) {
  border-color: $primary-color;
  background: $primary-color;
  opacity: 0.9;
}
.btn.btn-outline-secondary.active{
  border-color: $primary-color;
  background: $primary-color;
}
// submit button
.btn-secondary {
  background-color: $secondary-color;
  border-color: $primary-color; 
}
.btn-secondary:hover {
  background-color: $primary-color;
  border-color: $primary-color;
}


// drop area
#inner-drop-area {
  border: 4px dashed gray;
  padding: 10vw 10vh;
}

#outer-drop-area {
  background: white;
  padding: 10vw 10vh;
  transition: 0.2s ease-out;
}

#outer-drop-area:hover {
  opacity: 0.8;
}

// uploader thing
input[type="file"]{
  display: none;
}

// upload icon 
#upload-icon {
  opacity: 0.35;
  min-width: 150px;
  width: 10vw;
}

.fake-button {
  background-color: $primary-color;
  color: white;
  margin: auto;
  font-size: max(24px, 2.5vw);
  border-radius: 10px;
}

.desc {
  color: gray;
  margin: 5px;
  font-size: max(20px, 2vw);
}
 
// number of websites to crawl input box
#numCrawl {
  width: 35px;
  margin: 5px;
}

.close {
  border: none;
  background: none;
  transition: 0.2s ease-out;
  opacity: 0.7;
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  color: gray;
}

.close:hover {
  opacity: 0.5;
}

.modal-content {
  border-color: $primary-color;
  border-width: 10px;
}

.btn-primary {
  background-color: $primary-color;
  transition: 0.2s ease-out;
}

.btn-primary:hover {
  background-color: $primary-color;
  opacity: 0.90;
}

.icon {
  width: 20px;
  margin: 0;
  padding-bottom: 5px;
  filter: invert(1); // make white
}

// clipboard
#clipboard {
  position: absolute;
  top: 10px; 
  right: 10px;
  width: 30px;
  filter: invert(0.5);
  transition: 0.2s ease-out;
}
#clipboard:hover {
  opacity: 0.7;
}
#clipboard:active {
  filter: invert(0);
}